@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400');

//theme
$pink: #E8D8DF;
$washedLavender: #E7E6F7;
$lavender: #C6D2ED;
$darkPink: #AEA3B0;
$purple: #827081;
$whitePink: #F2E9ED;

@import "../../node_modules/bulma/bulma.sass";

//universals
html, body {
  height: 100%;
  width: 100%;
}

//footer
.footer {
  background-color: #fff;
}