@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400');

//theme
$pink: #E3D0D8;
$washedLavender: #E7E6F7;
$lavender: #C6D2ED;
$darkPink: #AEA3B0;
$purple: #827081;

@import "../../node_modules/bulma/bulma.sass";
 
* {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}